<footer class="footer is-size-7">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <p>
                    &copy; 2020 Sunbrook Condominiums. All rights reserved.
                </p>
            </div>
            <div class="level-right">
                <p>
                    Site by spncrhrstn
                </p>
            </div>
        </div>
    </div>
</footer>