<footer class="footer is-size-6 py-4">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <p>
                    &copy; 2020 Sunbrook Condominiums. All rights reserved.
                </p>
            </div>
            <div class="level-right">
                <p>
                    <a href="https://github.com/spncrhrstn/" target="_blank" rel="noopener noreferrer">spncrhrstn</a>
                </p>
            </div>
        </div>
    </div>
</footer>