<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
        <!-- <a class="navbar-item is-size-5" href="/"><span class="icon has-text mr-2"><i class="fas fa-house-user"></i></span> Sunbrook Condominiums</a> -->
        <a class="navbar-item" href="/"><img src="/assets/img/sunbrook_condominiums_sm.png" alt="Sunbrook Condominiums"></a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMain">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navMain">
        <div class="navbar-end">
            <a href="/" class="navbar-item">Home</a>
            <a href="/about" class="navbar-item">About</a>
            
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="#" class="navbar-link">
                    HOA Information
                </a>

                <div class="navbar-dropdown is-right">
                    <a href="/hoa/board-management/" class="navbar-item">HOA Board and Management</a>
                    <a href="/hoa/bylaws/" class="navbar-item">HOA Bylaws</a>
                    <a href="/hoa/minutes/" class="navbar-item">HOA Meeting Minutes</a>
                    <a href="/hoa/newsletter/" class="navbar-item">HOA Newsletter</a>
                    <a href="/hoa/services/" class="navbar-item">HOA Services</a>
                </div>
            </div>

            <a href="/contact" class="navbar-item">Contact</a>

            <div class="navbar-item">
                <div class="buttons">
                    <a href="https://payments.gozego.com/login/resident?crd=1&vpw=958" target="_blank" class="button is-link">
                        Pay Dues Online
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>