<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
        <a class="navbar-item is-size-5" href="/"><span class="icon has-text mr-2"><i class="fas fa-house-user"></i></span> Sunbrook Condominiums</a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMain">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navMain">
        <div class="navbar-end">
            <a href="/" class="navbar-item">Home</a>
            <a href="/about" class="navbar-item">About</a>
            
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="#" class="navbar-link">
                    HOA Information
                </a>

                <div class="navbar-dropdown is-right">
                    <a href="/services" class="navbar-item">HOA Services</a>
                    <a href="/bylaws" class="navbar-item">HOA Bylaws</a>
                    <a href="/newsletter" class="navbar-item">HOA Newsletter</a>
                </div>
            </div>

            <a href="/contact" class="navbar-item">Contact</a>

            <div class="navbar-item">
                <div class="buttons">
                    <a href="#" class="button is-link">
                        Pay Online
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>