<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description or metadata.description }}">
<meta name="author" content="{{ author or metadata.author }}"/>
<title>{%- if renderData.title %}{{ renderData.title }} | {% elif title %}{{ title }} | {% endif %}{{ metadata.title }}</title>

<link rel="stylesheet" type="text/css" href="/assets/css/bulma.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/site.css"/>