<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico">

<!-- Primary Meta tags -->
<title>{%- if renderData.title %}{{ renderData.title }} | {% elif title %}{{ title }} | {% endif %}{{ metadata.title }}</title>
<meta name="title" content="{%- if renderData.title %}{{ renderData.title }} | {% elif title %}{{ title }} | {% endif %}{{ metadata.title }}">
<meta name="description" content="{{ description or metadata.description }}">

<!-- Open Graph / Facebook tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ metadata.baseurl + page.url }}">
<meta property="og:site_name" content="Sunbrook Condominiums">
<meta property="og:title" content="{%- if renderData.title %}{{ renderData.title }} | {% elif title %}{{ title }} | {% endif %}{{ metadata.title }}">
<meta property="og:description" content="{{ description or metadata.description }}">
<meta property="og:image" content="{{ metadata.baseurl }}/assets/img/sunbrook-condos-640x640.jpg">

<!-- Twitter tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ metadata.baseurl + page.url }}">
<meta name="twitter:title" content="{%- if renderData.title %}{{ renderData.title }} | {% elif title %}{{ title }} | {% endif %}{{ metadata.title }}">
<meta name="twitter:description" content="{{ description or metadata.description }}">
<meta name="twitter:image" content="{{ metadata.baseurl }}/assets/img/sunbrook-condos-640x640.jpg">

<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">

<link rel="stylesheet" type="text/css" href="/assets/css/site.css"/>