<section class="hero is-warning is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Sunbrook Condominiums</h1>
            <h2 class="subtitle">Your home in North Ogden</h2>
        </div>
    </div>
</section>