<section class="hero is-dark is-large">
    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- <p class="is-size-3-mobile is-size-1 has-text-weight-medium">Sunbrook Condominiums</p> -->
            <!-- <img src="/assets/images/sunbrook_condominiums_edit.png" alt="Sunbrook Condominiums"> -->
        </div>
    </div>
</section>