<section class="hero is-warning is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-1">Sunbrook Condominiums</h1>
            <p class="subtitle is-3">Your home in North Ogden</h2>
        </div>
    </div>
</section>