@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

//colors
$green: #298056;


//global vars
$family-sans-serif: "Nunito", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$primary: $green;

//navbar
$navbar-height: 4.5rem;
$navbar-item-img-max-height: 3rem;

//hero
$hero-body-padding: 6rem 1.5rem !default;
$hero-body-padding-large: 12rem 1.5rem !default;


//custom css
html, body{
    height: 100%;
}

.hero{
    z-index: 1;
    position: relative;
}

.hero:after{
    content: ' ';
    display:block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.65;
    background-image: url('/assets/img/sunbrook-condos-sm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20%;
}

.navbar-menu.is-active {
    position: absolute;
    width: 100%;
}

@media (min-width: 768px){
    .hero:after{
        background-image: url('/assets/img/sunbrook-condos-lg.jpg');
    }
}

@media (min-width: 1920px){
    .hero:after{
        /* background-image: url('/assets/img/ben-lomond-large.jpg'); */
    }
}

@media (min-width: 2560px){
    .hero:after{
        background-image: url('/assets/img/sunbrook-condos-lg.jpg');
    }
}


//import bulma
@import "../../node_modules/bulma/bulma.sass";
