---
layout: _layouts/_base.njk
title: Sunbrook HOA Board and Management
description: View the current governing board and management of Sunbrook HOA.
---

<section class="section">
    <div class="container content">
        <h1>{{ title }}</h1>

        <hr>

        <p>The Sunbrook HOA is governed by a board of five current homeowners. The Sunbrook Condominiums property is managed by <a href="https://mtncityco.com/" target="_blank" rel="noopener noreferrer">Mountain City Commercial</a>.</p>

        <h2>Current Board Members</h2>
        <ul>
            <li>President: Bret Maughan</li>
            <li>Vice President: Brett Borach</li>
            <li>Secretary: Jennifer Olsen</li>
            <li>Treasurer: Tyson Taylor</li>
            <li>At Large: Michael Wilder</li>
        </ul>

        <h2>Property Management</h2>
        <ul>
            <li>Property Manager: Brett Hendershot</li>
            <li>Assistant Property Manager: Riley Hendershot</li>
            <li>Maintenance Director: Mike Jensen</li>
        </ul>

    </div>
</section>