---
layout: _layouts/_base.njk
title: Sunbrook HOA Bylaws
description: Learn about the bylaws and regulations for the Sunbrook HOA.
---

<section class="section">
    <div class="container content">
        <h1>{{ title }}</h1>

        <hr>

        <p>The Sunbrook HOA has establihed a set of bylaws (CC&Rs) and rules and regulations by which the association and its homeowners are expected to follow. If you have any questions about the bylaws, please <a href="/contact/">contact us</a>.</p>

        <p>The following items are PDF files. You'll need a PDF reader to view them.</p>
        
        <h2>CC&Rs</h2>
        <ul>
            <li><a href="/assets/files/Sunbrook_Articles_of_Incorporation.pdf" target="_blank">Sunbrook Articles of Incorporation</a></li>
            <li><a href="/assets/files/CCRs_Phase_1.pdf" target="_blank">CC&Rs Phase 1</a></li>
            <li><a href="/assets/files/CCRs_Phase_2.pdf" target="_blank">CC&Rs Phase 2</a></li>
            <li><a href="/assets/files/CCRs_Phase_3.pdf" target="_blank">CC&Rs Phase 3</a></li>
            <li><a href="/assets/files/CCRs_Phase_4.pdf" target="_blank">CC&Rs Phase 4</a></li>
            <li><a href="/assets/files/CCRs_Phase_5.pdf" target="_blank">CC&Rs Phase 5</a></li>
            <li><a href="/assets/files/CCRs_Phase_6.pdf" target="_blank">CC&Rs Phase 6</a></li>
            <li><a href="/assets/files/CCRs_Phase_7.pdf" target="_blank">CC&Rs Phase 7</a></li>
        </ul>
        
        <h2>Amendments & Resolutions</h2>
        <ul>
            <li><a href="/assets/files/Amendment_to_Bylaws_2002.pdf" target="_blank">Amendment to Bylaws (May 2002)</a></li>
            <li><a href="/assets/files/Feb_2018_Executed_Resolution_to_Change_Due_Amounts.pdf" target="_blank">Executed Resolution to Change Due Amounts (Feb 2018)</a></li>
            <li><a href="/assets/files/Executed_2018_Maintenance_Resolution.pdf" target="_blank">Executed Maintenance Resolution (Oct 2018)</a></li>
            <li><a href="/assets/files/Board_Compensation_Resolution.pdf" target="_blank">Board Compensation Resolution (June 2019)</a></li>
            <li><a href="/assets/files/Parking_Resolution_Fully_Executed.pdf" target="_blank">Parking Resolution (Sept 2019)</a></li>
            <li><a href="/assets/files/Tow_Policy_and_Parking_Spot_Rental_Resolution.pdf" target="_blank">Tow Policy and Parking Spot Rental Resolution (Mar 2020)</a></li>
            <li><a href="/assets/files/Additional_Parking_Resolution_Fully_Executed.pdf" target="_blank">Additional Parking Resolution (Mar 2020)</a></li>
            
        </ul>
        
        <h2>Rules & Regulations</h2>
    
        <ul>
            <li><a href="/assets/files/Rules_Regulations.pdf" target="_blank">Rules & Regulations Fine List</a></li>
    
        </ul>
    </div>
</section>