---
layout: _layouts/_base.njk
title: Sunbrook HOA Meeting Minutes
---

<section class="section">
    <div class="container content">
        <h1>{{ title }}</h1>

        <hr>

        <p>The Sunbrook HOA board generally meets on the first Wednesday of the month. Any Sunbrook homeowner is welcome to attend. If you would like to have an item discussed, or for further information, <a href="/contact/">contact us</a>.</p>

        <h2>Meeting Minutes</h2>
        
        <ul>
            <li><a href="/assets/files/minutes/11-2020_Board_Meeting_Minutes.pdf" target="_blank">November 2020 Board Meeting Minutes</a></li>
            <li><a href="/assets/files/minutes/12-2020_Board_Meeting_Minutes.pdf" target="_blank">December 2020 Board Meeting Minutes</a></li>
            <li><a href="/assets/files/minutes/01-2021_Board_Meeting_Minutes.pdf" target="_blank">January 2021 Board Meeting Minutes</a></li>
            <li><a href="/assets/files/minutes/07-2021_Board_Meeting_Minutes.pdf" target="_blank">July 2021 Board Meeting Minutes</a></li>
            <li><a href="/assets/files/minutes/08-2021_Board_Meeting_Minutes.pdf" target="_blank">August 2021 Board Meeting Minutes</a></li>
        </ul>

    </div>
</section>