---
layout: _layouts/_base.njk
title: Sunbrook HOA Meeting Minutes
---

<section class="section">
    <div class="container content">
        <h1>{{ title }}</h1>

        <hr>

        <p>The Sunbrook HOA board generally meets on the first Wednesday of the month. Any Sunbrook homeowner is welcome to attend. If you would like to have an item discussed, or for further information, <a href="/contact/">contact us</a>.</p>

        <p>Meeting minutes coming soon...</p>
    </div>
</section>