---
layout: _layouts/_base.njk
title: Sunbrook HOA Services
description: The services provided to members of the Sunbrook HOA
---

<section class="section">
    <div class="container content">
        <h1>{{ title }}</h1>

        <hr>

        <p>
            The Sunbrook Condominiums Homeowners Association takes pride in the services we provide to our residences. 
            As a close-knit community, we want all of our residents to enjoy living within our association. 
            We have focused on providing a high standard of living and beautiful property for all of our residents and their guests
        </p>

        <p>
            Our condominium association provides annual property and parking lot improvements, landscaping and snow removal maintenance, other improvements as necessary for our homeowners. 
            Additionally, the members of our board have undertaken the task of continued improvements to our community in order to increase the standard of living, owner satisfaction, and resale values for all units within the property.
        </p>

        <h2>Service Goals</h2>

        <p>Our current service goals are as follows:</p>

        <ol>
            <li>Improve the aesthetics of the property to create a more inviting atmosphere</li>
            <li>Improve the landscaping and irrigation systems as necessary</li>
            <li>Improve the parking and common areas, perform annual maintenance and make any major repairs as necessary</li>
            <li>Promptly address residents' concerns and feedback</li>
            <li>Repair and update common areas as necessary</li>
            <li>Address structural and other physical issues to the buildings as needed</li>
            <li>Increase owner occupant sales, reducing the amount of renters or short term occupants</li>
            <li>Fully fund a reserve account to use for common area issues and other responsibilities as they arise</li>
            <li>Qualify for FHA financing, increasing the value of the property as a whole</li>
        </ol>

        <p>
            As maintenance and repair work arises, we give our owners the appropriate notice as defined in our bylaws prior to the completion of this work. 
            While we do not intend to impede the daily activities of our residents, we do wish to give advance notice of any inconveniences as the result of improvements and maintenance arise.
        </p>

        <p>
            For detailed information about the legally required services and other association information for the Sunbrook Condominium HOA, 
            please visit our <a href="/bylaws/">bylaws page</a> for the legal documentation of our incorporation.
        </p>

        <p>Financial information is available to homeowners and is available upon request. <a href="/contact/">Contact us</a> for more information.</p>
    </div>
</section>