<!DOCTYPE html>
<html lang='en'>
<head>
    {%- include '_partials/_head.njk' %}
</head>
<body class="is-flex is-flex-direction-column">

    {%- include '_partials/_header.njk' %}

    <main class="is-flex-grow-1">
        {{ content | safe }}
    </main>

    {%- include '_partials/_footer.njk' %}

    {% include '_partials/_scripts.njk' %}
</body>
</html>