---
layout: _layouts/_base.njk
title: About Sunbrook Condominiums
---

<section class="section">
    <div class="container content">
        <h1>{{ title }}</h1>

        <hr>

        <p>{{ metadata.description }}</p>

        <p>The Sunbrook Condominium associations comprises of 120 units in two groups: 48 condos and 72 townhomes.</p>
    </div>
</section>