---
layout: _layouts/_base.njk
title: About Sunbrook Condominiums
---

<section class="section">
    <div class="container content">
        <h1>{{ title }}</h1>

        <hr>

        <p>{{ metadata.description }}</p>
    </div>
</section>