---
layout: _layouts/_base.njk
title: Contact
---

<section class="section">
    <div class="container content">

        <h1>{{ title }}</h1>

        <hr>

        <p>
            We are happy to answer any questions or concerns from current and future residents of the Sunbrook Condominium Association.
            Please do not hesitate to contact one of our board members or the management directly using the information below.
        </p>

        <h2>Location</h2>
        
        <address>
        2421 N 400 E<br>
        North Ogden, UT 84414
        </address>
        <p><a href="https://goo.gl/maps/iWyjmYGXgx9yD83n9" target="_blank">Map</a></p>

        <p>Please send all HOA dues payments, requests or other correspondence to:</p>
        <address>
            Sunbrook Condominiums<br>
            c/o Mountain City Commercial<br>
            2036 Lincoln Ave. Ste. 101<br>
            Ogden, UT 84401
        </address>

        <h2>Management</h2>

        <p>Sunbrook Condominiums is managed by Mountain City Commercial.</p>

        <div class="columns">
                <div class="column">
                    <div>
                        Property Manager<br>
                        Brett Hendershot
                        <address>
                            <a href="mailto:brett@mtncityco.com">brett@mtncityco.com</a><br>
                            <a href="tel:18013982299">801-394-2299</a>
                        </address>  
                    </div>
                </div>

                <div class="column">
                    <div>
                        Associate Property Manager<br>
                        Riley Hendershot
                        <address>
                            <a href="mailto:riley@mtncityco.com">riley@mtncityco.com</a><br>
                            <a href="tel:18013982299">801-394-2299</a>
                        </address>  
                    </div>
                </div>

                <div class="column">
                    <div>
                        Maintenance Director<br>
                        Mike Jensen
                        <address>
                            <a href="mailto:mike@mtncityco.com">mike@mtncityco.com</a><br>
                            <a href="tel:18012090224">801-209-0224</a>
                        </address>  
                    </div>
                </div>

        </div>

        <h2>Current Board Members</h2>
        <ul>
            <li>President: Bret Maughn</li>
            <li>Vice President: Brett Borach</li>
            <li>Secretary: Marla Hamilton</li>
            <li>Treasurer: Spencer Harston</li>
            <li>At Large: Michael Wilder</li>
        </ul>

    </div>
</section>