---
layout: _layouts/_base.njk
title: Contact
---

<section class="section">
    <div class="container content">

        <h1>{{ title }}</h1>

        <hr>

        <p>
            We are happy to answer any questions or concerns from current and future residents of the Sunbrook Condominium Association.
            Please do not hesitate to contact one of our board members or the management directly using the information below.
        </p>

        <h2>Location</h2>
        
        <address>
        2421 N 400 E<br>
        North Ogden, UT 84414
        </address>
        <p><a href="https://goo.gl/maps/iWyjmYGXgx9yD83n9" target="_blank">Map</a></p>

        <h2>Mailing Address</h2>
        <p>Please send all HOA dues payments, requests or other correspondence to:</p>
        <address>
            Sunbrook Condominiums<br>
            c/o Mountain City Commercial<br>
            2036 Lincoln Ave. Ste. 101B<br>
            Ogden, UT 84401
        </address>

        <h2>Property Management</h2>

        <p>For other inquires and information, please contact Mountain City Commercial using the information below.</p>

        <p>Website: <a href="https://mtncityco.com/" target="_blank" rel="noopener noreferrer">Mountain City Commercial</a></p>

        <div class="columns">
                <div class="column">
                    <div>
                        Brett Hendershot<br>
                        Property Manager
                        <address>
                            <a href="mailto:brett@mtncityco.com">brett@mtncityco.com</a><br>
                            <a href="tel:18013982299">801-394-2299</a>
                        </address>  
                    </div>
                </div>

                <div class="column">
                    <div>
                        Riley Hendershot<br>
                        Associate Property Manager
                        <address>
                            <a href="mailto:riley@mtncityco.com">riley@mtncityco.com</a><br>
                            <a href="tel:18013982299">801-394-2299</a>
                        </address>  
                    </div>
                </div>

                <div class="column">
                    <div>
                        Mike Jensen<br>
                        Maintenance Director
                        <address>
                            <a href="mailto:mike@mtncityco.com">mike@mtncityco.com</a><br>
                            <a href="tel:18012090224">801-209-0224</a>
                        </address>  
                    </div>
                </div>

        </div>
    </div>
</section>