---
layout: _layouts/_base.njk
title: Contact
description: Contact the Sunbrook Condominiums HOA board or management.
---

<section class="section">
    <div class="container content">

        <h1>{{ title }}</h1>

        <hr>

        <p>
            We are happy to answer any questions or concerns from current and future residents of the Sunbrook Condominium HOA.
            Please do not hesitate to contact one of our <a href="/hoa/board-management/">board members</a> or the management directly using the information below.
        </p>

        <h2>Property Location</h2>
        
        <address>
        2421 N 400 E<br>
        North Ogden, UT 84414
        </address>
        <p><a href="https://goo.gl/maps/iWyjmYGXgx9yD83n9" target="_blank">Map</a></p>

        <h2>Mailing Address</h2>
        <p>Please send all HOA dues payments, requests or other correspondence to:</p>
        <address>
            Sunbrook Condominiums<br>
            c/o KR Elite Real Estate<br>
            690 Washington Blvd<br>
            Ogden, UT 84404
        </address>

        <h2>Property Management</h2>

        <p>For other inquires and information, please contact KR Elite Real Estate using the information below.</p>

        <p>Website: <a href="https://kreliterent.com/" target="_blank" rel="noopener noreferrer">KR Elite Real Estate</a></p>

        <div class="columns">
            <div class="column">
                <div>
                    Nathan Roessler<br>
                    Property Manager
                    <address>
                        <a href="tel:18013881575">801-388-1575</a>
                    </address>  
                </div>
            </div>
        </div>

        <p>If you have any website feedback, please contact Nathan Roessler above.</p>
    </div>
</section>