---
layout: _layouts/_base.njk 
---

{%- include '_partials/_hero.njk' %}

<section class="section">
    <div class="container content">

        <h1>{{ metadata.title }}</h1>
        
        <p>
            The Sunbrook Condominiums Homeowners Assocation is a private homeowners community located in scenic North Ogden, UT valley, below the majestic Ben Lomond peak.
        </p>
        
    </div>
</section>