---
layout: _layouts/_base.njk 
---

{%- include '_partials/_hero.njk' %}

<section class="section">
    <div class="container">
        <h1 class="title">{{ metadata.title }}</h1>
        
        <p class="subtitle">{{ metadata.description }}</p>
        
    </div>
</section>