---
layout: _layouts/_base.njk 
---

{%- include '_partials/_hero.njk' %}

<section class="section">
    <div class="container content">

        <h1>{{ metadata.title }}</h1>

        <hr>
        
        <p>
            {{ metadata.description }}
        </p>

        <p>
            Learn more <a href="/about/">about the Sunbrook HOA</a>, review the <a href="/hoa/bylaws/">bylaws</a> or find out about the <a href="/hoa/board-management/">HOA board and management</a>.
        </p>

        <p>Homeowners can pay their dues by visiting the <a href="https://payments.gozego.com/login/resident?crd=1&vpw=958" target="_blank" rel="noopener noreferrer">Paylease website</a>. For other methods, please see the <a href="/contact/">Contact</a> page for more details.</p>
        
    </div>
</section>